body{
  background-size: 100%;
  background-repeat: no-repeat;
  background: #d3dcdf9c
}

.aaa{
  width: 338px;
  height: 685px;
  padding: 13px;
  position: absolute;
  left: 50%;
  top: 28%;
  margin-left: -200px;
  margin-top: -200px;

  background-color:rgb(174, 210, 245);
  border-radius: 10px;
  text-align: center;
}
.aaa input[type='text'],
.aaa input[type='ture'],
.aaa input[type='telephone'],
.aaa input[type='email'],
.aaa input[type='sex'],
.aaa input[type='class'],
.aaa input[type='love'],
.aaa input[type='password'] {
  border: 0;
  background: none;
  display: block;
  margin: -3px auto;
  text-align: center;
  border: 2px solid #f0eee9;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: rgb(247, 184, 184);
  border-radius: 24px;
  transition: 0.25s;
}
.aaa input[type='submit'] {
  border: 0;
  background: none;
  margin: -3px auto;
  text-align: center;
  border: 2px solid rgb(126, 176, 250);
  padding: 14px 10px;
  width: 100px;
  outline: none;
  color: rgb(211, 233, 170);
  border-radius: 24px;
  transition: 0.25s;
}