body{
  background-size: 100%;
  background-repeat: no-repeat;
  background: #aad0dd9c
}

.aaa{
  width: 300px;
  height: 650px;
  padding: 13px;
  position: absolute;
  left: 90%;
  top: 28%;
  margin-left: -200px;
  margin-top: -200px;

  background-color:rgb(239, 242, 245);
  border-radius: 10px;
  text-align: center;
}
.aaa input[type='text'],
.aaa input[type='ture'],
.aaa input[type='telephone'],
.aaa input[type='email'],
.aaa input[type='sex'],
.aaa input[type='class'],
.aaa input[type='love'],
.aaa input[type='password'] {
  border: 0;
  background: none;
  display: block;
  margin: -3px auto;
  text-align: center;
  border: 2px solid #1b1b1a;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: rgb(247, 184, 210);
  border-radius: 24px;
  transition: 0.25s;
}
.aaa input[type='submit'] {
  border: 0;
  background: none;
  margin: -3px auto;
  text-align: center;
  border: 2px solid rgb(8, 8, 8);
  padding: 14px 10px;
  width: 100px;
  outline: none;
  color: rgb(26, 137, 165);
  border-radius: 24px;
  transition: 0.25s;
}